header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 3em;
  padding-top: 0;
  padding-bottom: 1em;
}

header h1 {
  font-family: cursive;
  font-size: 3em;
}

#dataSection {
  width: 95%;
  padding: 1em;
  display: flex;
  flex-direction: row;
  align-self: center;
  background-color: grey;
}

#bookSection, #authorSection {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
}

#homeBookData, #homeAuthorData {
  width: 100%;
  height: 25em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 2px black solid;
  overflow: scroll;
  background-color: white;
}


#homeBookData:hover, #homeAuthorData:hover, .bookLinks:hover {
  background-color: darkred;
}

h3, a {
  color: black;
  text-align: center;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.homeBooks, .homeAuthor {
  display: flex;
  flex-direction: row;
  align-content: center;
  padding: 1em;
}

.bookCovers, .authorPic {
  width: 8em;
  height: 10em;
}

#bookArea {
  margin-left: 20%;
  margin-right: 20%;
}
